@import '_keyframes';

.create-user-btn {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: $font-size-paragraphs;
    transition: all .2s;

    &:hover {
        transform: scale(0.9);
    }
}

.create-user-div {
    @include flexBox(column, center, center, 2.5rem);
    margin-top: 2rem;
    transition: all .2s;
    animation: appear ease-in-out 2s;
    animation-fill-mode: backwards;

    h2 {
        font-size: $font-size-headers;
        color: $color-primary;
    }

    a {
        text-decoration: none;
        font-size: $font-size-paragraphs;
        color: $color-ternary;
        transition: all .2s;

        &:hover {
            transform: scale(0.9);
        }
    }

    .user-create-form {
        @include flexBox(column, center, center, 1.5rem);

        &__input {
            text-align: center;
            border: none;
            padding: 1rem;

            &::placeholder {
                text-align: center;
                font-family: inherit;
            }

            &--submit {
                cursor: pointer;
                border-radius: .5rem;
                transition: all .2s;
                background-color: $color-primary;

                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }
}