@import '_variables';
@import '_mixins';
@import '_keyframes';

.post-wrapper {

    h1 {
        font-size: 5rem;
        color: $color-primary;
    }

    @include flexBox(column, center, center, 2.5rem);
    margin-top: 2rem;
}


.post-list {
    @include flexBox(column, flex-start, flex-start, 2.5rem);
    @include prepareAnimation(.2s);
    animation: appear 2s ease-in-out;

    .create-actions {
        @include flexBox(row, center, space-between, 2.5rem);

        &__anchor {
            text-decoration: none;
            color: $color-secondary;
            padding: 1rem;
            background-color: $color-primary;
            transition: all .2s;
            font-size: $font-size-paragraphs;
            font-family: inherit;

            &:hover {
                transform: scale(0.9);
            }
        }
    }

    .single-post {
        padding: 1rem;
        font-size: $font-size-paragraphs;

        h2 {
            font-size: $font-size-headers;
            color: $color-primary;
        }

        p {
            color: $color-ternary;
        }

        &__post {
            a {
                text-decoration: none;
                font-size: $font-size-paragraphs;
            }
        }

        &__user {
            a {
                color: $color-primary;
                text-decoration: none;
                transition: all .2s;

                &:hover {
                    color: $color-ternary;
                }
            }
        }
    }
}